@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding: 120px 0 0 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(240, 196, 9);
  background: linear-gradient(
    90deg,
    rgba(240, 196, 9, 1) 0%,
    rgba(246, 209, 52, 1) 35%,
    rgba(207, 167, 0, 1) 66%,
    rgba(200, 162, 0, 1) 100%
  );
}

label {
  margin: 0;
}

input {
  border: 0;
  transition: all 0.3s ease-in-out;
  outline: 0;
  background: transparent;
  margin-bottom: 30px;
}

article form input {
  margin-bottom: 0;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

input:hover,
button:hover,
button:focus,
input:focus {
  outline: 0;
  font-weight: bold;
  border-bottom: 1px solid #3b3b3b;
}

form textarea {
  width: 100%;
  border: 0;
  transition: all 0.2s ease-in-out;
  outline: 0;
  padding: 15px;
  margin: 0 0 15px;
}

textarea:focus {
  border: 1px solid #3b3b3b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition-delay: 9999s;
}

form.register,
form.signIn {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
  margin: auto;
  padding: 50px 15px;
}

form.register input[type='submit'],
form.signIn input[type='submit'] {
  padding: 8px 12px;
  font-size: 14px;
  line-height: inherit;
  width: 100%;
  border: 1px solid #3b3b3b;
  background: transparent;
  border-radius: 20px;
  color: #3b3b3b;
  transition: all 0.3s ease-in-out;
}

form.register input[type='submit']:hover,
form.signIn input[type='submit']:hover,
form.register input[type='submit']:focus,
form.signIn input[type='submit']:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.particles {
  position: fixed;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

header {
  box-shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
  padding: 15px;
}

header,
header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

header img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

header a {
  color: #3b3b3b;
  outline: 0;
  position: relative;
}

header a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  transition: all 0.5s ease-in-out;
}

header a:hover,
header a:focus {
  color: #3b3b3b;
  font-weight: 600;
  text-decoration: none;
}

header a:hover::after,
header a:focus::after {
  width: 100%;
  left: 0;
  background: #3b3b3b;
}

h1 {
  margin-bottom: 30px;
}

section {
  text-align: center;
  padding: 50px 15px;
}

.chartsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.chartsGrid h1 {
  grid-column: -1/1;
}

.chartsGrid article {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  perspective: 1000px;
}

.chartsGrid article > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
}

form.card {
  padding: 15px;
  max-width: 450px;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 356px;
}

form.card div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form.card div button,
form.card div input {
  margin: 0;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
